body {
  background: black;
  color: white;
  margin: 0;
}

.letterbox {
  background: #000; /*#1d1414 */
  height: 75px;
  z-index: 10;
  position: sticky;
  border-bottom: 1px solid #6b6936;
}


.star, .star2 {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 80%;
}

.star2 {

  background-color: rgba(255, 255, 255, 0.5);

}

.intro {
  position: absolute;
  top: 45%;
  left: 45%; /* 50  try -9em to match text?? */
  z-index: 1;
  animation: intro 6s ease-out 1s;
  color: rgb(75, 213, 238);
  font-weight: 400;
  font-size: 300%;
  opacity: 0;
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Logo animation */
.logo {
  position: absolute;
  top: 20%;
  left: 40%; /* was 45 */
  z-index: 1;
  margin: auto;
  animation: logo 9s ease-out 9s;
  opacity: 0;
}

.logo svg {
  width: inherit;
}

/* Scale the logo */
@keyframes logo {
  0% {
    width: 58em;
    tranform: Scale(2.75);
    opacity: 1;
  }
  50% {
    opacity: 1;
    width: 18em;
  }
  100% {
    opacity: 0;
    transform: scale(0.1);
    width: 18em;
  }
}

p {
  color: #FFFF82;
}

#textField {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  transform: perspective(300px) rotateX(25deg);
  transform-origin: 50% 100%;
  text-align: justify;
  position: absolute;
  margin-left: -9em;
  font-weight: bold;
  overflow: hidden;
  font-size: 350%;
  height: 50em;
  width: 18em;
  bottom: 0;
  left: 50%;
}

#textField:after {
  position: absolute;
  content: '';
  bottom: 60%;
  left: 0;
  right: 0;
  top: 0;
}
/* Scrolling animation episode not title */

#content {
  animation: scroll 100s linear 16s;
  position: absolute;
  top: 100%;
}

#episode, #title {
  text-align: center;
}

@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}

.footer {
height: 75px;
background: #000;
z-index: 10;
position: absolute;
width:100%;
bottom:0px;
border-top: 1px solid #6b6936;
text-align: right;
}

#ties {
  position: absolute;
  top: 25%;
  animation-delay: 80s;
  animation: ties 16s ease-out 10s;
  animation-iteration-count: 3;
  color: #999;
  width: 100%;
}

#ties:after{
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

@keyframes ties {
  from {
    right: 0;
  }
  to {
    right: 100%;
  }

 @keyframes fade  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    z-index: -1;
  }

}

