body {
  background: black;
  color: white;
}

.star {
  position: absolute;
  width: 10px;
  height: 10px;
  color: white;
}

.intro {
  position: absolute;
  top: 45%;
  left: 50%;
  z-index: 1;
  animation: intro 6s ease-out 1s;
  color: rgb(75, 213, 238);
  font-weight: 400;
  font-size: 300%;
  opacity: 0;
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }

  100% {
    opacity: 1; /* change to 0 after crawl is built */
  }
}

/* Logo animation */
.logo {
  position: absolute;
  top: 20%;
  left: 45%;
  z-index: 1;
  margin: auto;
  animation: logo 9s ease-out 9s;
  opacity: 0;
}

.logo svg {
  width: inherit;
}

/* Scale the logo */
@keyframes logo {
  0% {
    width: 18em;
    tranform: Scale(2.75);
    opacity: 1;
  }
  50% {
    opacity: 1;
    width: 18em;
  }
  100%{
    opacity: 0;
    transform: scale(0.1);
    width: 18em;
  }
}


